@model InstaRoi.Models.MarketingElements
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
@{
    ViewData["Title"] = "Details";
}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['bar'] });
    google.charts.setOnLoadCallback(drawStuff);

    function drawStuff() {
        var data = new google.visualization.arrayToDataTable([
             ['Investment vs Revenue', 'Dollars'],
            ['Investment', @Html.DisplayFor(model => model.InvestmentField)],
            ['Revenue', @Html.DisplayFor(model => model.Profit)],
        ]);

        var options = {
            title: 'Investment vs Revenue',
            legend: { position: 'none' },
            backgroundColor: '#222',
            legendTextStyle: { color: '#FFF' },
            titleTextStyle: { color: '#FFF' },
            chart: {
                title: 'Investment vs Revenue',
                subtitle: 'Dollars'
            },
            bars: 'horizontal', // Required for Material Bar Charts.
            axes: {
                x: {
                    0: { side: 'top', label: 'Percentage' } // Top x-axis.
                }
            },
            bar: { groupWidth: "90%" },
        };

        var chart = new google.charts.Bar(document.getElementById('top_x_div'));
        chart.draw(data, options);
    };
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Investment vs Revenue', 'Dollars'],
            ['Investment', @Html.DisplayFor(model => model.Investment6)],
            ['Revenue', @Html.DisplayFor(model => model.Profit)],
        ]);

        var options = {
            title: 'Investment vs Revenue',
            pieHole: 0.4,
            backgroundColor: '#222', legendTextStyle: { color: '#FFF' },
            titleTextStyle: { color: '#FFF' },
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
    }
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Conversion Percentage', '%'],
            ['Gained Customer %', @Html.DisplayFor(model => model.ConversionPercentage)],
            ['Lost Customer %', 100-@Html.DisplayFor(model => model.ConversionPercentage)],
        ]);

        var options = {
            title: 'Conversion Percentage from Number of Leads',
            pieHole: 0.4,
            backgroundColor: '#222', legendTextStyle: { color: '#FFF' },
            titleTextStyle: { color: '#FFF' },
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart1'));
        chart.draw(data, options);
    }
</script>
<style>
    dt {
        font-size: small;
        /*font-weight: normal;*/
    }

    dd {
        font-size: small;
        margin-bottom: 10px !important;
    }

    .c1 {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #663399;
    }

    .c2 {
        padding-top: 5px;
        padding-bottom: 10px;
    }

    .c3 {
        padding-top: 5px;
        padding-bottom: 10px;
    }

    .c1 dt {
        color: #ffffff;
    }

    .c2 dt {
        color: #663399;
    }

    .card {
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 0px !important;
        padding-right: 0px !important;
        background-color: #303030;
        transition: 0.5s;
        font-family: Segoe UI,Tahoma,Geneva,Verdana,sans-serif !important;
        line-height: normal;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    img {
        border-radius: 5px 5px 0 0;
    }

    .container {
        padding: 2px 16px;
    }

    .btn {
        background-color: #663399;
        color: white;
        transition-duration: 0.4s;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-color: #663399;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

        .btn:hover {
            background-color: #663399;
            color: #39FF00;
            border: 1px solid rgba(0, 0, 0, 0.125);
            border-color: #663399;
            box-shadow: 0 8px 16px 0 rgba(89,38,124,5.2);
        }

    .form-group {
        margin-bottom: 5px !important;
        padding-right: 5px !important;
        padding-left: 5px !important;
    }
</style>


@if (Model.UserName == @UserManager.GetUserName(User))
{
    <h4> @Html.DisplayFor(model => model.ElementName) : Details</h4>

    <div class="row">
        <div class="card col-md-12 col-sm-12 w3-animate-left" style="background-color: #222;">
            <div class="c1 col-md-4 col-sm-4 w3-animate-left" style="min-height:220px;">
                @*<dl>
                        <dt>

                            <p style="padding-top:15px !important;  margin: 0 0 0px !important;">Element Name</p>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.ElementName)
                        </dd>
                        <dt>

                            <p style=" margin: 0 0 0px !important;">Element Type</p>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.ElementType)
                        </dd>
                        <dt style="font-size:125%;">

                            <p style=" margin: 0 0 0px !important;">ROI Percentage</p>
                        </dt>
                        <dd style="font-size:150%; color:#ffffff">
                            @Html.DisplayFor(model => model.RoiPercentage)
                        </dd>
                    </dl>*@
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:5px; padding-right:5px;">
                        <p>Element Type</p>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8" style="padding-left:5px; padding-right:5px;">
                        @*<select asp-for="ElementType" class="form-control" asp-items="ViewBag.CampaignType" disabled="disabled"></select>*@
                        <input asp-for="ElementType" class="form-control" placeholder="" readonly="readonly" required autocomplete="off" />
                        <span asp-validation-for="ElementType" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:5px; padding-right:5px;">
                        <p>Element Name</p>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8" style="padding-left:5px; padding-right:5px;">
                        <input asp-for="ElementName" class="form-control" placeholder="" readonly="readonly" required autocomplete="off" />
                        <input asp-for="UserId" class="form-control" placeholder="" autocomplete="off" value="0" type="hidden" />
                        <input asp-for="UserName" class="form-control" placeholder="" autocomplete="off" value="a" type="hidden" />
                        <span asp-validation-for="ElementName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:5px; padding-right:5px;">
                        <p>Investment</p>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8" style="padding-left:5px; padding-right:5px;">
                        <input asp-for="Investment6" class="form-control" readonly="readonly" autocomplete="off" />
                        <span asp-validation-for="Investment6" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:5px; padding-right:5px;">
                        <p>Revenue</p>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8" style="padding-left:5px; padding-right:5px;">
                        <input asp-for="Profit" class="form-control" readonly="readonly" autocomplete="off" />
                        <span asp-validation-for="Profit" class="text-danger"></span>
                    </div>
                </div>
                @*<div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:5px; padding-right:5px;">
                            <p>ROI</p>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8" style="padding-left:5px; padding-right:5px;">
                            <input asp-for="Roi" class="form-control" placeholder="" readonly="readonly" autocomplete="off" />
                            <span asp-validation-for="Roi" class="text-danger"></span>
                        </div>
                    </div>*@
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:5px; padding-right:5px;">
                        <p>ROI%</p>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8" style="padding-left:5px; padding-right:5px;">
                        <input asp-for="RoiPercentage" class="form-control" placeholder="" readonly="readonly" autocomplete="off" />
                        <span asp-validation-for="RoiPercentage" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="c2 col-md-4 col-sm-4 col-xs-12 w3-animate-left">
                <div id="donutchart">
                </div>
            </div>
            <div class="c3 col-md-4 col-sm-4 col-xs-12 w3-animate-left">
                <div id="donutchart1">
                </div>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="card col-md-12 col-sm-12 w3-animate-left">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="c1 col-md-4 col-sm-12 col-xs-12 w3-animate-left">
                    @*<h3 style="margin-top:0px;">Enter your information here</h3>*@
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:5px; padding-right:5px;">
                            <p style="margin:0 0 0px;">Element Description</p>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8" style="padding-left:5px; padding-right:5px;">
                            <input asp-for="ElementDescription" class="form-control" placeholder="" readonly="readonly" autocomplete="off" />
                            <span asp-validation-for="ElementDescription" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:5px; padding-right:5px;">
                            <p>Start Date</p>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8" style="padding-left:5px; padding-right:5px;">
                            <input asp-for="StartDate" class="form-control" placeholder="" readonly="readonly" autocomplete="off" type="date" />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:5px; padding-right:5px;">
                            <p>End Date</p>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8" style="padding-left:5px; padding-right:5px;">
                            <input asp-for="EndDate" class="form-control" placeholder="" readonly="readonly" autocomplete="off" type="date" />
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>
                    </div>
                    <p><b>Cost (Investment)</b></p>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        @*<div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:5px; padding-right:5px;">
                <p>Investment 1</p>
            </div>*@
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-left:0px; padding-right:0px;">
                            <input asp-for="Investment1" class="form-control" placeholder="" onkeyup="sum();" readonly="readonly" autocomplete="off" />
                            <span asp-validation-for="Investment1" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        @*<div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:5px; padding-right:5px;">
                <p>Investment 2</p>
            </div>*@
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-left:0px; padding-right:0px;">
                            <input asp-for="Investment2" class="form-control" placeholder="" onkeyup="sum();" readonly="readonly" autocomplete="off" />
                            <span asp-validation-for="Investment2" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        @*<div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:5px; padding-right:5px;">
                <p>Investment 1</p>
            </div>*@
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-left:0px; padding-right:0px;">
                            <input asp-for="Investment3" class="form-control" placeholder="" onkeyup="sum();" readonly="readonly" autocomplete="off" />
                            <span asp-validation-for="Investment3" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        @*<div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:5px; padding-right:5px;">
                <p>Investment 2</p>
            </div>*@
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-left:0px; padding-right:0px;">
                            <input asp-for="Investment4" class="form-control" placeholder="" onkeyup="sum();" readonly="readonly" autocomplete="off" />
                            <span asp-validation-for="Investment4" class="text-danger"></span>
                        </div>
                    </div>
                    @*<div class="form-group col-md-6 col-sm-6 col-xs-6">

            <div class="col-md-12 col-sm-12 col-xs-12" style="padding-left:0px; padding-right:0px;">
                <input asp-for="Investment5" class="form-control" placeholder="" onkeyup="sum();" autocomplete="off" />
                <span asp-validation-for="Investment5" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col-md-6 col-sm-6 col-xs-6">

            <div class="col-md-12 col-sm-12 col-xs-12" style="padding-left:0px; padding-right:0px;">
                <input asp-for="Investment6" class="form-control" placeholder="" onkeyup="sum();" autocomplete="off" />
                <span asp-validation-for="Investment6" class="text-danger"></span>
            </div>
        </div>*@
                    <p><b>Revenue (Return)</b></p>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:5px; padding-right:5px;">
                            <p style="margin:0 0 0px;">Number of Leads<a href="#" style="font-size:small;" data-toggle="tooltip" data-placement="bottom" title="Estimated number of prospects who engaged">?</a></p>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8" style="padding-left:5px; padding-right:5px;">
                            <input asp-for="NumberOfLeads" class="form-control" placeholder="" onkeyup="revenue();" readonly="readonly" autocomplete="off" />
                            <span asp-validation-for="NumberOfLeads" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:5px; padding-right:5px;">
                            <p style="margin:0 0 0px;">Conversion Percent*<a href="#" style="font-size:small;" data-toggle="tooltip" data-placement="bottom" title="Estimated % of prospects who will become customers">?</a></p>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8" style="padding-left:5px; padding-right:5px;">
                            <input asp-for="ConversionPercentage" class="form-control" placeholder="" onkeyup="revenue();" readonly="readonly" autocomplete="off" />
                            <span asp-validation-for="ConversionPercentage" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:5px; padding-right:5px;">
                            <p style="margin:0 0 0px;">Conversion Value*<a href="#" style="font-size:small;" data-toggle="tooltip" data-placement="bottom" title="Estimated value of a customer">?</a></p>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8" style="padding-left:5px; padding-right:5px;">
                            <input asp-for="ConversionValue" class="form-control" placeholder="" onkeyup="revenue();" readonly="readonly" autocomplete="off" />
                            <span asp-validation-for="ConversionValue" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="c2 col-md-8 col-sm-12 col-xs-12 w3-animate-left">

                    <h3>Your Insta ROI Results</h3>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:5px; padding-right:5px;">
                            <p>Total Investment</p>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8" style="padding-left:5px; padding-right:5px;">
                            <input asp-for="Investment6" class="form-control" readonly="readonly" autocomplete="off" />
                            <span asp-validation-for="Investment6" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:5px; padding-right:5px;">
                            <p>Total Revenue</p>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8" style="padding-left:5px; padding-right:5px;">
                            <input asp-for="Profit" class="form-control" readonly="readonly" autocomplete="off" />
                            <span asp-validation-for="Profit" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:5px; padding-right:5px;">
                            <p>ROI</p>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8" style="padding-left:5px; padding-right:5px;">
                            <input asp-for="Roi" class="form-control" placeholder="" readonly="readonly" autocomplete="off" />
                            <span asp-validation-for="Roi" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:5px; padding-right:5px;">
                            <p>ROI%</p>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8" style="padding-left:5px; padding-right:5px;">
                            <input asp-for="RoiPercentage" class="form-control" placeholder="" readonly="readonly" autocomplete="off" />
                            <span asp-validation-for="RoiPercentage" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12" style="margin-top:10px !important;">
                        <a asp-action="Edit" asp-route-id="@Model.ElementId" class="btn btn-default">Edit</a>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12" style="margin-top:10px !important;">

                        @*<a href="http://pdf-ace.com/pdfme/" target="_blank" class="btn btn-default">Download Report</a>*@
                        <a asp-action="Index" class="btn btn-default">Back to Dashboard</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
}
<script language="JavaScript" type="text/javascript">
    function recalculate() {
        document.getElementById('Investment1').value = "0";
        document.getElementById('Investment2').value = "0";
        document.getElementById('Investment3').value = "0";
        document.getElementById('Investment4').value = "0";
        document.getElementById('NumberOfLeads').value = "";
        document.getElementById('ConversionPercentage').value = "";
        document.getElementById('ConversionValue').value = "";
        document.getElementById('ElementDescription').value = "";
        document.getElementById('StartDate').value = "";
        document.getElementById('EndDate').value = "";
        document.getElementById('Investment6').value = "";
        document.getElementById('Profit').value = "";
        document.getElementById('Roi').value = "";
        document.getElementById('RoiPercentage').value = "";

    }
</script>
<script language="JavaScript" type="text/javascript">
    function sum() {
        var tbi1 = document.getElementById('Investment1');
        var tbi2 = document.getElementById('Investment2');
        var tbi3 = document.getElementById('Investment3');
        var tbi4 = document.getElementById('Investment4');
        //var tbi5 = document.getElementById('Investment5');
        var tbi6 = document.getElementById('Investment6');
        //var tbi7 = document.getElementById('InvestmentField');
        //if (!isNaN(tbi7.value)) {
        //tbi7.value = parseInt(tbi1.value) + parseInt(tbi2.value) + parseInt(tbi3.value) + parseInt(tbi4.value) + parseInt(tbi5.value) + parseInt(tbi6.value);
        var totalInvestment = parseInt(tbi1.value) + parseInt(tbi2.value) + parseInt(tbi3.value) + parseInt(tbi4.value);
        if (!isNaN(totalInvestment)) {
            tbi6.value = parseFloat(totalInvestment);
        }
        var tbr4 = document.getElementById('Profit');
        var tbroi1 = document.getElementById('Roi');
        var tbroi2 = document.getElementById('RoiPercentage');
        var totalroi1 = parseFloat(parseInt(tbr4.value) - parseInt(tbi6.value)).toFixed(2);
        var totalroi2 = parseFloat(((parseInt(tbr4.value) - parseInt(tbi6.value)) / parseInt(tbi6.value)) * 100.00).toFixed(2);
        if (!isNaN(totalroi1) || !isNaN(totalroi2)) {
            tbroi1.value = parseFloat(totalroi1).toFixed(2);
            tbroi2.value = parseFloat(totalroi2).toFixed(2);
        }
    }
</script>
<script language="JavaScript" type="text/javascript">
    function revenue() {
        var tbr1 = document.getElementById('NumberOfLeads');
        var tbr2 = document.getElementById('ConversionPercentage');
        var tbr3 = document.getElementById('ConversionValue');
        var tbr4 = document.getElementById('Profit');
        var tprofit = parseFloat(parseInt(tbr1.value) * parseInt(tbr2.value) / 100.00 * parseInt(tbr3.value)).toFixed(2);
        if (!isNaN(tprofit)) {
            tbr4.value = parseFloat(tprofit).toFixed(2);
        }
        var tbi6 = document.getElementById('Investment6');
        var tbroi1 = document.getElementById('Roi');
        var tbroi2 = document.getElementById('RoiPercentage');
        var totalroi1 = parseFloat(parseInt(tbr4.value) - parseInt(tbi6.value)).toFixed(2);
        var totalroi2 = parseFloat(((parseInt(tbr4.value) - parseInt(tbi6.value)) / parseInt(tbi6.value)) * 100.00).toFixed(2);
        if (!isNaN(totalroi1) || !isNaN(totalroi2)) {
            tbroi1.value = parseFloat(totalroi1).toFixed(2);
            tbroi2.value = parseFloat(totalroi2).toFixed(2);
        }

    }
</script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
